/* 图标颜色 */
.mui-table-view-cell span.mui-icon {
	color: red;
}

/* 选项文本样式 */
.mui-table-view-cell span.mui-icon span {
	color: black;
	font-size: 16px;
	margin-left: 10px;
	font-style: normal;
}

/* 客服电话文本样式 */
.mui-table-view-cell span.phone {
	float: right;
	color: #AAAAAA;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
}

/* 选项之间间距 */
ul.mui-table-view {
	margin-top: 15px;
}

/* 登录用户邮头像右侧按钮 */
.mui-media-body p button {
	font-size: 8px;
	color: #CCCCCC;
	padding: 2px 8px;
}

/* 登录用户邮头像右侧按钮 */
.mui-media-body p button#btn-credentials {
	margin-left: 8px;
}

/* 个人信息按钮样式 */
button#btn-personal-info {
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	right: 0px;
	color: orange;
	border: orange 1px solid;
	border-right-width: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 16px;
	font-size: 8px;
}
